* Casting in python
1. Casting is a process to convert one datatype to another data type.

1. Conversion of integer datatype to float datatype.

In [9]:
a=12
print(a)
print(type(a))
b=float(a)   #conversion of integer datatype to float datatype.
print(b)
print(type(b))

12
<class 'int'>
12.0
<class 'float'>

Conversion of integer to string

In [12]:
a=15
print(a)
print(type(a))
b=str(a)   # conversion of integer to string.
print(b)
print(type(b))
b

15
<class 'int'>
15
<class 'str'>

'15'

Conversion of float to integer or str

In [17]:
a=20.25
print(a,type(a))
b=int(a)         #conversion of float to integer.
print(b, type(b))
c=str(a)         #conversion of float to string.
print(c, type(c))
c

20.25 <class 'float'>
20 <class 'int'>
20.25 <class 'str'>

'20.25'

Conversion of string to integer or float

In [22]:
a="100"
print(a,type(a))
b=int(a)
print(b,type(b))
c=float(a)
print(c,type(c))

100 <class 'str'>
100 <class 'int'>
100.0 <class 'float'>

In [29]:
j="12.23"
print(j,type(j))
i=float(j)   # first of all you can do conversion of string to float.
print(i,type(i))
k=int(i)     # and than conversion of flaot to integer.
print(k,type(k))

12.23 <class 'str'>
12.23 <class 'float'>
12 <class 'int'>

In [32]:
#easy way to conversion of string to integer.
a="12.23"
print(a,type(a))
b=int(float(a))
print(b,type(b))

12.23 <class 'str'>
12 <class 'int'>

 eval() : eval() function is use for conversion fo string to float and int (both)

In [33]:
z="23.24"
n=eval(z)
print(n,type(n))

23.24 <class 'float'>

In [36]:
y="123"
n=eval(y)
print(n,type(n))

123 <class 'int'>

In [19]:
a="krishna"
print(a," - ",id(a))
b=a.upper()
print(b," - ",id(b))
#It is immutable.

krishna  -  2984656792304
KRISHNA  -  2984662148592

In [1]:
a=dict()
print(a)

{}

In [2]:
a={}
print(a)

{}

In [7]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 3, 'd': 4}

# Operator in Python

* Identity Operator

In [7]:
'python' is 'python'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\hp\AppData\Local\Temp\ipykernel_11140\3157939510.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'python' is 'python'

True

In [16]:
print('python'=='python')

True

In [10]:
10 is not 10

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\hp\AppData\Local\Temp\ipykernel_11140\4009678808.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  10 is not 10

False

In [15]:
print('python'!='java')
print('python'!='python')

True
False

* Membership Operator ( in , not in)

In [18]:
'python' in 'python is funny language.'

True

In [20]:
'python' in 'Python is funny language.'

False

In [21]:
'python' not in 'Python is funny language.'

True

* Bitwise Operator