* Casting in python
1. Casting is a process to convert one datatype to another data type.

1. Conversion of integer datatype to float datatype.

In [ ]:
a=12
print(a)
print(type(a))
b=float(a)   #conversion of integer datatype to float datatype.
print(b)
print(type(b))

Conversion of integer to string

In [ ]:
a=15
print(a)
print(type(a))
b=str(a)   # conversion of integer to string.
print(b)
print(type(b))
b

Conversion of float to integer or str

In [ ]:
a=20.25
print(a,type(a))
b=int(a)         #conversion of float to integer.
print(b, type(b))
c=str(a)         #conversion of float to string.
print(c, type(c))
c

Conversion of string to integer or float

In [ ]:
a="100"
print(a,type(a))
b=int(a)
print(b,type(b))
c=float(a)
print(c,type(c))

In [ ]:
j="12.23"
print(j,type(j))
i=float(j)   # first of all you can do conversion of string to float.
print(i,type(i))
k=int(i)     # and than conversion of flaot to integer.
print(k,type(k))

In [ ]:
#easy way to conversion of string to integer.
a="12.23"
print(a,type(a))
b=int(float(a))
print(b,type(b))

 eval() : eval() function is use for conversion fo string to float and int (both)

In [ ]:
z="23.24"
n=eval(z)
print(n,type(n))

In [ ]:
y="123"
n=eval(y)
print(n,type(n))

In [ ]:
a="krishna"
print(a," - ",id(a))
b=a.upper()
print(b," - ",id(b))
#It is immutable.

In [ ]:
a=dict()
print(a)

In [ ]:
a={}
print(a)

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

# Operator in Python

* Identity Operator

In [ ]:
'python' is 'python'

In [ ]:
print('python'=='python')

In [ ]:
10 is not 10

In [ ]:
print('python'!='java')
print('python'!='python')

* Membership Operator ( in , not in)

In [ ]:
'python' in 'python is funny language.'

In [ ]:
'python' in 'Python is funny language.'

In [ ]:
'python' not in 'Python is funny language.'

* Conditional Operator

In [ ]:
num1=eval(input("Enter your first number"))
num2=eval(input("Enter your second number"))
option=input("Choose operator to perform operation.")
if option=='+':
    print(num1+num2)
elif option=='-':
    print(num1-num2)
elif option=='*':
    print(num1*num2)
elif option=='/':
    print(num1/num2)
else:
    print("kindly choose operator.")

In [ ]:
a=eval(input("Enter number: "))
if a>0:
    print(" a is postive number. ")
else:
    print("a is negative number")

In [ ]:
num=int(input("Enter Your number: "))
if num%2==0:
    print("numbers is odd")
else:
    print("numbers is even")

In [ ]:
a=int(input("Enter your num."))
if a>=0:
    print("number is positve.")
    if a%2==0:
        print("number is odd.")
    else:
        print("numbers is even")
else:
    print("number is negative")

In [ ]:
print("simple calculator using python.")
a=eval(input("Enter First Number"))
b=eval(input("Enter Second Number"))
print("Enter First Number : ",a)
print("Enter Second Number : ",b)
option=input("Choose Operator :- (+,-,*,/,//,%,**)")
if option=='+':
    print("Calculate = ",a+b)
elif option=='-':
    print("Calculate = ",a-b)
elif option=='*':
    print("Calculate = ",a*b)
elif option=='/':
    print("Calculate = ",a/b)
elif option=='%':
    print("Calculate = ",a%b)
elif option=='//':
    print("Calculate = ",a//b)
elif option=='**':
    print("Calculate = ",a**b)
else:
    print("Please Choose a Correct operator to Calculate..")

In [ ]:
#list
list=[1,2,3,4,[2,3,4,[54,76,56,65],5,32,2],43,4,65,3,53] #list support nested list
print(list)

In [ ]:
#tuple
tuple=(1,2,3,4,(2,3,4,(54,76,56,65),5,32,2),43,4,65,3,53) #ltuple support nested tuple
print(tuple)

In [ ]:
#set
set={1,2,3,4,{2,3,4,{54,76,56,65},5,32,2},43,4,65,3,53} # set does not support nesting.
print(set)

In [ ]:
#frozenset
frozenset=({1,2,3,4,{2,3,4,{54,76,56,65},5,32,2},43,4,65,3,53}) #frozenset does not support nesting.
print(frozenset)

* pratice condtiontios (if, if else, if elif, if elif else, nested if else, nested if elif else)

In [ ]:
a="Thi2343242s i$@#$@#s Shi243432va&$%m"
print(a)
import re
print(re.sub("[^A-z ]","",a))

In [ ]:
a=int(input("Enter First num."))
b=int(input("Enter second num."))
c=int(input("Enter third num."))
if a>b:
    if a>c:
        print(f"{a} is greater.")
    else:
        print(f"{c} is greater.")
elif b>c:
    print(f"{b} is greater.")
else:
    print(f"{c} is greater.")

In [ ]:
a=[1,3,3,53,63,634,2,623,542]
i=0
while i<len(a):
    print(a[i])
    i+=1

In [ ]:
i=1
while i<=10:
    print(i)
    i+=1

In [11]:
a=1
while a<=10:
    if a!=3:
       print(a,"=",'Hello World')
    a+=1;

1 = Hello World
2 = Hello World
3 = Hello World
4 = Hello World
5 = Hello World
6 = Hello World
7 = Hello World
8 = Hello World
9 = Hello World
10 = Hello World

In [11]:
i=1
while i<=5:
    print(" "*(5-i)+ "*"*i)
    i+=1

    *
   **
  ***
 ****
*****

In [12]:
i=1
while i<=5:
    print(" "*(5-i)+ "* "*i)
    i+=1

    *
   * *
  * * *
 * * * *
* * * * *

In [46]:
i=0;
while i<=5:
    print(" "*(5-i)+"*"*(2*i-1))
    i+=1

    *
   ***
  *****
 *******
*********

In [55]:
i=5;
while i>=0:
    print(" "*(5-i)+"*"*(2*i-1))
    i-=1

*********
 *******
  *****
   ***
    *

In [5]:
i=1
while i<=10:
    print("*"*i)
    i+=1;

*
**
***
****
*****
******
*******
********
*********
**********

In [45]:
i=1
while i<=10:
    print(" "*(10-i)+"*"*i)
    i+=1

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [29]:
i=1
while i<=10:
    print(" "*(10-i)+"* "*i)
    i+=1;

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [48]:
i=1
while i<=10:
    print("* "*(10-i))
    i+=1;

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [53]:
i=1
while i<=10:
    print(" "*i+"* "*(10-i))
    i+=1;

 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [66]:
i=1
while i<=10:
    print(" "*(10-i)+"*"*(2*i-1))
    i+=1;

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [113]:
i=0
while i<=10:
    print(" "*(i)+"*"*(2*(10-i)-1))
    i+=1

*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

pattern using nested while loop

In [146]:
i=0
while i<5:
    j=0
    while j<=i:
        print("*",end=" ")
        j+=1;
    print()                  # by default backslash \n
    i+=1;

*
* *
* * *
* * * *
* * * * *

In [178]:
i=0
while i<5:
    j=5
    while j>i:
        print("*",end=" ")
        j-=1;
    print()                  # by default backslash \n
    i+=1;

* * * * *
* * * *
* * *
* *
*

In [191]:
i=0
while i<5:
    j=0
    while j<=i:
        print("*",end=" ")
        j+=1;
    print()                  # by default backslash \n
    i+=1;

*
* *
* * *
* * * *
* * * * *

In [6]:
n=int(input("Enter no."))
if n>0:
    print(f"{n} Positive no.")
    if n%2==0:
        print((" {} Number is odd").format(n))
    else:
        print(F"{n} Number is even")
else:
    print(("{} Negative.").format(n))

-8 Negative.

In [17]:
# String Formatting.
a='T93@$#his fo))od i3324s n$$ot G324ood'
import re
print(re.sub("[^A-z ]","",a))

This food is not Good

In [27]:
unit=int(input("Enter Unit"))
if unit<=100:
    amt=0
    print("Charge -",amt)
elif unit>100 and unit <=200:
    amt=(unit-100)*5
    print(amt)
elif unit>200:
    amt=500+(unit-200)*10
    print(amt)

2000

In [ ]:
price=int(input("Enter bike price"))
if price>100000:
    tax=15/100*price
    print(tax)
elif price>50000 and price<=100000:
    tax=10/100*price
    print(tax)
elif price<=50000:
    tax=5/100*price
    print(tax)