# Casting in Python
> Casting is a process to convert one datatype to another datatype.

* Conversion of integer datatype to float datatype.

In [1]:
a=12
b=float(a)
print(b)
print(type(b))

12.0
<class 'float'>

* Conversion of integer datatype to string datatype.

In [8]:
a=12
b=str(a)
print(b)
print(type(b))

12
<class 'str'>

* Conversion of float datatype to integer datatype.

In [9]:
a=12.54
b=int(a)
print(b)
print(type(b))

12
<class 'int'>

* Conversion of float datatype to string datatype.

In [10]:
a=12.56
b=str(a)
print(b)
print(type(b))

12.56
<class 'str'>

* Conversion of string datatype to integer datatype.

In [12]:
a='123'
b=int(a)
print(b)
print(type(b))

123
<class 'int'>

In [13]:
a='12.25'
b=int(a)
print(b)

ValueError: invalid literal for int() with base 10: '12.25'

> If the value in the string is a float, it cannot be converted to a direct value into integer.
>> For this first you have to convert to float and then to integer.

In [19]:
a='12.25'
# b=float(a)
# print(b, type(b))
# c=int(b)
# print(c, type(c))
b=int(float(a))  # shorthand
print(b,type(b))

12 <class 'int'>

* Conversion of string datatype to float datatype.

In [21]:
a='12.25'
b=float(a)
print(b,type(b))

12.25 <class 'float'>

# eval() function

> Eval() fucntion is use for converesion of string to float and integer (both).

In [22]:
# using eval() function is used to convert string value to integer.
a='1232'
b=eval(a)
print(b,type(b))

1232 <class 'int'>

In [24]:
# using eval() function is used to convert string value to float.
a='12.3258'
b=eval(a)
print(b,type(b))

12.3258 <class 'float'>

* Casting on collection kind datatype ( List , Tuple , Set , Frozenset)

1. List to ( Tuple , Set , Frozenset ) :-

In [5]:
a=['Krishan','Shivam','Vishal','Rahul','Neha','Krishna']
print(a)
print(type(a))

['Krishan', 'Shivam', 'Vishal', 'Rahul', 'Neha', 'Krishna']
<class 'list'>

In [4]:
#list to tuple :-
b=tuple(a)
print(b)
print(type(b))

('Krishan', 'Shivam', 'Vishal', 'Rahul', 'Neha', 'Krishna')
<class 'tuple'>

In [9]:
#list to set :-
a=['Krishna','Shivam','Vishal','Rahul','Neha','Krishna']
b=set(a)
print(b)
print(type(b))

{'Rahul', 'Krishna', 'Vishal', 'Neha', 'Shivam'}
<class 'set'>

In [11]:
#list tp frozenset :-
a=['Krishna','Shivam','Vishal','Rahul','Neha','Krishna']
b=frozenset(a)
print(b)
print(type(b))

frozenset({'Rahul', 'Krishna', 'Vishal', 'Neha', 'Shivam'})
<class 'frozenset'>

2. Tuple to ( List , Set , Frozenset ) :-

In [12]:
a=('Krishna', 'Shivam', 'Vishal', 'Rahul', 'Neha', 'Krishna')
print(a)
print(type(a))

('Krishna', 'Shivam', 'Vishal', 'Rahul', 'Neha', 'Krishna')
<class 'tuple'>

In [14]:
# Tuple to List :-
a=('Krishna', 'Shivam', 'Vishal', 'Rahul', 'Neha', 'Krishna')
b=list(a)
print(b)
print(type(b))

['Krishna', 'Shivam', 'Vishal', 'Rahul', 'Neha', 'Krishna']
<class 'list'>

In [15]:
# Tuple to Set :-
a=('Krishna', 'Shivam', 'Vishal', 'Rahul', 'Neha', 'Krishna')
b=set(a)
print(b)
print(type(b))

{'Rahul', 'Krishna', 'Vishal', 'Neha', 'Shivam'}
<class 'set'>

In [18]:
# Tuple to Frozenset :-
a=('Krishna', 'Shivam', 'Vishal', 'Rahul', 'Neha', 'Krishna')
b=frozenset(a)
print(b)
print(type(b))

frozenset({'Rahul', 'Krishna', 'Vishal', 'Neha', 'Shivam'})
<class 'frozenset'>

3. Frozenset to ( List , Set , Tuple ) :-

In [19]:
a=frozenset({'Rahul', 'Krishna', 'Vishal', 'Neha', 'Shivam'})
print(a)
print(type(a))

frozenset({'Neha', 'Vishal', 'Krishna', 'Rahul', 'Shivam'})
<class 'frozenset'>

In [20]:
# frozenset to list :-
a=frozenset({'Rahul', 'Krishna', 'Vishal', 'Neha', 'Shivam'})
b=list(a)
print(b)
print(type(b))

['Neha', 'Vishal', 'Krishna', 'Rahul', 'Shivam']
<class 'list'>

In [21]:
# frozenset to tuple :-
a=frozenset({'Rahul', 'Krishna', 'Vishal', 'Neha', 'Shivam'})
b=tuple(a)
print(b)
print(type(b))

('Neha', 'Vishal', 'Krishna', 'Rahul', 'Shivam')
<class 'tuple'>

In [22]:
# frozenset to set :-
a=frozenset({'Rahul', 'Krishna', 'Vishal', 'Neha', 'Shivam'})
b=set(a)
print(b)
print(type(b))

{'Neha', 'Vishal', 'Krishna', 'Rahul', 'Shivam'}
<class 'set'>