# List in Python
> List are used to store multiple items in a single variable. list are mutable , which means you can modify them by adding , removing ,  or changing elements.

1. List constructor is list().
2. List literal is [ ].
3. List is a set of squence of element.
4. List support indexing.
5. List support nesting.
6. List support concatianaiton.
7. List is mutable and unhashable.
8. List has various methods.

In [4]:
# List are :-
mylist=[12,12.32,'shivam']
#or
mylist1=['Shivam',23,4.32,['Rahul',43,2.42]]
print(mylist)
print(mylist1)

[12, 12.32, 'shivam']
['Shivam', 23, 4.32, ['Rahul', 43, 2.42]]

In [14]:
a=["krishan","Raghav","Dia",12,14.5,["Vishal",3.4,54]]
print(a)
print(type(a))  # check datatype.(<class 'list'>)
print(id(a))    # check file located address.(1929592708480)

['krishan', 'Raghav', 'Dia', 12, 14.5, ['Vishal', 3.4, 54]]
<class 'list'>
1929592649600

* How to create empty list datatype?
1. Using constructor is list()
2. Using literal is [ ]

In [22]:
# Using constructor
a=list()
print(a)
print(type(a))
print(id(a))

[]
<class 'list'>
1929592578240

In [20]:
# Using literal
a=[]
print(a)
print(type(a))
print(id(a))

[]
<class 'list'>
1929592694400

* Note :- There are three types of Programming in Python.
> * Top line programming (Analyst).
> * Procedural / Fucntional programming (Programmer).
> * Object Oriented Programming language (OOps-95%)
* Example :-

In [56]:
# Top Line programming.
print("Hello Python")

Hello Python

In [60]:
# Procedural/Function type Programming.
def myfucn():
    print("This is Python.")
myfucn()

This is Python.

In [1]:
# Class base(Object Oreinted Programming.)
class A:
    def mydef(self):
        print("Javascript is client-side as well as server-side porgramming language. Its is used to build dynamic type website.")
a=A()
a.mydef()

Javascript is client-side as well as server-side porgramming language. Its is used to build dynamic type website.

* List support Indexing.

In [28]:
list=[12,32.2,"Shivam",[4,6.4,"vijay"],65,55]
print(list[0])
print(list[1])
print(list[2])
print(list[3])
print(list[4])
print(list[5])

12
32.2
Shivam
[4, 6.4, 'vijay']
65
55

* List support Slicing.

In [89]:
list1=[12,32.2,"Shivam",[4,6.4,["shivash",34,[22,33.4,"Shree Ram",77,108],98.3,"vishal"],"vijay"],65,55,'shrishti',45.8,90]
print(list1[2:7:1])    # slicing.
print(list1[-7:-2:1])  # slicing.
print(list1[2:-2:1])   # slicing.
print(list1[0::1])     # slicing.
print(list1[-1::-1])   # slicing.
print(list1[3][2])     # nested slicing.
print(list1[3][2][2])  # nested slicing.
print(list1[3][2][2][2]) # nested slicing.
print(list1[3][2][2][4]) # nested slicing.
print(list1[3][1:3:1])   # nested slicing.
print(list1[0::2])       # steping-2 slicing.

['Shivam', [4, 6.4, ['shivash', 34, [22, 33.4, 'Shree Ram', 77, 108], 98.3, 'vishal'], 'vijay'], 65, 55, 'shrishti']
['Shivam', [4, 6.4, ['shivash', 34, [22, 33.4, 'Shree Ram', 77, 108], 98.3, 'vishal'], 'vijay'], 65, 55, 'shrishti']
['Shivam', [4, 6.4, ['shivash', 34, [22, 33.4, 'Shree Ram', 77, 108], 98.3, 'vishal'], 'vijay'], 65, 55, 'shrishti']
[12, 32.2, 'Shivam', [4, 6.4, ['shivash', 34, [22, 33.4, 'Shree Ram', 77, 108], 98.3, 'vishal'], 'vijay'], 65, 55, 'shrishti', 45.8, 90]
[90, 45.8, 'shrishti', 55, 65, [4, 6.4, ['shivash', 34, [22, 33.4, 'Shree Ram', 77, 108], 98.3, 'vishal'], 'vijay'], 'Shivam', 32.2, 12]
['shivash', 34, [22, 33.4, 'Shree Ram', 77, 108], 98.3, 'vishal']
[22, 33.4, 'Shree Ram', 77, 108]
Shree Ram
108
[6.4, ['shivash', 34, [22, 33.4, 'Shree Ram', 77, 108], 98.3, 'vishal']]
[12, 'Shivam', 65, 'shrishti', 90]

* List support Concatination.

In [51]:
List1=[12,43,53,'java',35,6.4]
List2=['python',78,89,65,98,76.87,94]
List3=List1+List2
print(List3)
print(List1+List2)
# This is concatinations.

[12, 43, 53, 'java', 35, 6.4, 'python', 78, 89, 65, 98, 76.87, 94]
[12, 43, 53, 'java', 35, 6.4, 'python', 78, 89, 65, 98, 76.87, 94]

* Lists has various methods.

In [68]:
a=[1,2,3,4,5,6,7]
print(a)
print("Address -",id(a)," - (Mutable datatype)")

[1, 2, 3, 4, 5, 6, 7]
Address - 1608171957120  - (Mutable datatype)

In [70]:
a.pop() # Removes the element at the specified position
print(a)
print(id(a))

[1, 2, 3, 4, 5]
1608171957120

In [73]:
a.append(6) # Adds an element at the end of the list
print(a)
print(id(a))

[1, 2, 3, 4, 5, 6, 6]
1608171957120

In [78]:
a.clear() # Removes all the elements from the list
print(a)
print(id(a))

[]
1608171957120

In [79]:
a.extend([1,2,3,4,4,5,6,7,8]) # Add the elements of a list (or any iterable), to the end of the current list
print(a)
print(id(a))

[1, 2, 3, 4, 4, 5, 6, 7, 8]
1608171957120

In [80]:
a.remove(4) # Removes the item with the specified value
print(a)
print(id(a))

[1, 2, 3, 4, 5, 6, 7, 8]
1608171957120

In [81]:
a.insert(5,"Krishna") # Adds an element at the specified position.
print(a)
print(id(a))

[1, 2, 3, 4, 5, 'Krishna', 6, 7, 8]
1608171957120

In [85]:
a.remove("Krishna")
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [87]:
a.clear()
print(a)

[]

In [89]:
a.extend([1,4,2,3,5,8,6,9,7])
print(a)

[1, 4, 2, 3, 5, 8, 6, 9, 7]

In [90]:
a.sort() # Sorts the list
print(a)
print(id(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1608171957120

In [91]:
a.reverse() # reverse lists.
print(a)
print(id(a))

[9, 8, 7, 6, 5, 4, 3, 2, 1]
1608171957120

In [92]:
a.reverse()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
b=[5,4,3,2,2,1]
print(b)

[5, 4, 3, 2, 2, 1]

In [5]:
b.reverse()
print(b)

[1, 2, 2, 3, 4, 5]

In [6]:
b.index(3)

3

In [7]:
b.count(2)

2

>condition :-

In [100]:
b=a
print(b)
print(id(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1608171957120

In [101]:
a.append(10)
print(a," address - ", id(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  address -  1608171957120

In [102]:
print(b, "address - ",id(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] address -  1608171957120

bcz id will be same.

In [103]:
c=a.copy()
print(c)
print(id(c))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1608171449920

In [105]:
a.pop()
print(a)
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]