# Set Datatype
> Set are used to store multiple datatype in a single varaible. set items are unchangeble, but you can remove item and add new item. sets are written with curly breaces. { }

1. Set Constructor is Set().
2. Set Literals is not available.
3. Set is unordered to set of sequence of element.
4. Set create hashing tables to remove deblicate value.
5. Set is mutable and unhashable and changeble.
6. Set does not allow dublicate value.
7. Set does not support nested set.
8. Set does not support concatination.
9. Set does not allow mutable datatype.
10. Set has various methods.

In [10]:
# Set are written with curly braces { }.
# set support immutable datatype.
set={1,2,4.3,'strings',(1,4,5,6)}
print(set)
print(type(set))

{1, 2, 4.3, 'strings', (1, 4, 5, 6)}
<class 'set'>

In [2]:
# Set does not allow mutable datatype.
a={1,2,[3,4,5,6,7],{3,6.5,'Vishal'}}
print(a)

TypeError: unhashable type: 'list'

* How to create empty set datatype.

> Please note that using curly braces { } to create an empty set can be a bit ambiguous because it can also be used to create an empty dictionary. In Python, an empty set and an empty dictionary both use curly braces, so it's essential to be cautious when using this method. so set() returns only constructor.

In [4]:
a={}
print(a)

{}

> * Set Literals not available.

* Set does not support Concatination.

In [6]:
x={1,2,3,4,5}
y={6,7,8,9,2}
# z=x+y
# print(z)
print(x+y)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

* Sets Methods

In [14]:
s={1,2,3,4,5}
print(s)
print(type(s))
print(id(s))

{1, 2, 3, 4, 5}
<class 'set'>
2553769970368

In [24]:
# add() methods
s.add((2,4,6,7,9,8,45,32))  # Adds an element to the set.(Set support only Immutable datatype.)
print(s)
print(id(s))

{1, (2, 4, 6, 7, 9, 8, 45, 32)}
2553769970368

In [33]:
# clear() methods
s.clear()  # Removes all the elements from the set
print(s)   # return constructor is set().

set()

In [38]:
# update() methods
s.update([1,2,3,4,5,6,7,8]) # Adds an element with list,set,tuple etc.
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

In [72]:
# intersectin() methods
a={1,2,3,4,5,6,7,8}
b={5,6,7,8,9,10,11,12,13,14}
c=a.intersection(b) # Returns a set, that is the intersection of two other sets
print("A :" ,a)
print("B :" ,b)
print("C :",c)

A : {1, 2, 3, 4, 5, 6, 7, 8}
B : {5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
C : {8, 5, 6, 7}

In [73]:
# diffrence() methods
x={1,2,3,4,5,9,11} 
y={3,4,5,6,7}
z=x.difference(y)  # Returns a set containing the difference between two or more sets
# z=x-y   
print("A :" ,x)
print("B :" ,y)
print("C :",z)

A : {1, 2, 3, 4, 5, 9, 11}
B : {3, 4, 5, 6, 7}
C : {1, 2, 11, 9}

In [74]:
# union() methods
a={'python','ruby','php'}
b={'C#','matlab','python','java'}
c=a.union(b)                    # Return a set containing the union of sets
print("A :" ,a)
print("B :" ,b)
print("C :",c)

A : {'php', 'ruby', 'python'}
B : {'java', 'matlab', 'python', 'C#'}
C : {'php', 'matlab', 'java', 'ruby', 'python', 'C#'}

In [102]:
# issubset() methods
a={'python','ruby','php'}
b={'php','python','ruby','java','pascal'}
z=a.issubset(b)               #Returns whether another set contains this set or not
print("A :" ,a)
print("B :" ,b)
print("C :",z)
print("------------------------------------------------")
a={'python','ruby','php','react'}
b={'php','python','ruby','java','pascal'}
z=a.issubset(b)               
print("A :" ,a)
print("B :" ,b)
print("C :",z)

A : {'php', 'ruby', 'python'}
B : {'php', 'java', 'pascal', 'ruby', 'python'}
C : True
------------------------------------------------
A : {'react', 'php', 'ruby', 'python'}
B : {'php', 'java', 'pascal', 'ruby', 'python'}
C : False

In [ ]:
# diffrence() methods
x={1,2,3,4,5,9,11} 
y={3,4,5,6,7}
z=x.difference(y)  # Returns a set containing the difference between two or more sets
# z=x-y   
print("A :" ,x)
print("B :" ,y)
print("C :",z)

A : {1, 2, 3, 4, 5, 9, 11}
B : {3, 4, 5, 6, 7}
C : {1, 2, 11, 9}

In [104]:
# issuperset() methods
a={'php','python','ruby','java','pascal'}
b={'python','ruby','php'}
z=a.issuperset(b)          # Returns whether this set contains another set or not
print("A :" ,a)
print("B :" ,b)
print("C :",z)
print("------------------------------------------------")
a={'php','python','ruby','java','pascal'}
b={'python','ruby','php','angular'}
z=a.issuperset(b)        
print("A :" ,a)
print("B :" ,b)
print("C :",z)

A : {'php', 'java', 'pascal', 'ruby', 'python'}
B : {'php', 'ruby', 'python'}
C : True
------------------------------------------------
A : {'php', 'java', 'pascal', 'ruby', 'python'}
B : {'php', 'ruby', 'python', 'angular'}
C : False

In [114]:
# isdisjoint() methods
a={1,2,3,4,5,6}
b={2,5,6,7,9,8}
z=a.isdisjoint(b)   # Returns whether two sets have a intersection or not
print("A : ",a)
print("B : ",b)
print("C : ",z)
print("------------------------")
a={1,2,3,4,5,6}
b={7,9,8,10,11}
z=a.isdisjoint(b) 
print("A : ",a)
print("B : ",b)
print("C : ",z)

A :  {1, 2, 3, 4, 5, 6}
B :  {2, 5, 6, 7, 8, 9}
C :  False
------------------------
A :  {1, 2, 3, 4, 5, 6}
B :  {7, 8, 9, 10, 11}
C :  True

In [128]:
# pop() methods
a={1,2,3,4,5}
z=a.pop()       # Removes an element from the set
print("A : ",a)
print("result z = ",z)

A :  {2, 3, 4, 5}
result z =  1

In [137]:
a={1,2,3,4,5,6,'remove'}
print("a : ",a)

a :  {1, 2, 3, 4, 5, 6, 'remove'}

In [136]:
# remove() methods
a={1,2,3,4,5,6,'remove'}
z=a.remove('remove')       # Removes the specified element
print("A : ",a)

A :  {1, 2, 3, 4, 5, 6}

In [143]:
# before copy() methods
a={1,2,3,4,5,6,7,8}
print(a)
b=a
print(b)
#if you will change in a.
a.pop()
print(a)
# automatic change in b.
print(b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{2, 3, 4, 5, 6, 7, 8}
{2, 3, 4, 5, 6, 7, 8}

In [149]:
# copy() methods
a={1,2,3,4,5}
b=a.copy()
print("B : ",b)
# if you will change in b.
b.pop()
print("B : ",b)
print("A : ",a)

B :  {1, 2, 3, 4, 5}
B :  {2, 3, 4, 5}
A :  {1, 2, 3, 4, 5}